body { 
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.58em;
    color:#212529;
    padding: 0px;
    margin: 0px;
    margin-left: 30px;
    /* background-color: #212529; */ /*for dark theme*/ 
    /* color: whitesmoke; for dark theme */  
   
 }

 a {
    text-decoration: none;
    color: #58a6ff;
    font-weight: 400;
    font-weight: 700;
}

 .hero-title{
    background-color: #406E8E;
    padding: 2%;
}
 
.img{
    width: 300px;
    border-radius: 50%;
    border: 2px solid #23395B;
    /*margin-left: 5%;
     margin-bottom: 30px;  
    margin-top: 30px;    
    display: block;
    padding: 30px,40px;
    float:left;    */
}

.welcome{
    float:right;
    margin-right: 3%;
    width: 1000px;
    font-size: 23px;
    
}

.menu{
    display: inline;
    background-color: red;


}












.logo {
    width: 30px;
    border-radius: 30px;
}


a {
    text-decoration: none;
    color: #58a6ff;
    font-weight: 400;
    font-weight: 700;
}
.link{
    color:#58a6ff;
    font-style: bold;
    text-decoration: underline;

}

hr{
    border: 1px solid #343a40;
}
 h4 {

    /* color:#8ea8c3 ; */
    color:#23395B;
 }
 li {
     /* color:white; */
     color: #23395B;
 }
 
 