
/*design inspirado no colega de turma Aladino Borges
dispon[ivel em: https://aladinoborges.github.io/portfolio/
ou  https://github.com/AladinoBorges/portfolio   :D */

body { 
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.58em;
    color:#212529;
    padding: 0px;
    margin: 0px;
  
}
 .img{
    width: 350px;
    border-radius:50%;
    border: 0px solid #23395B;
    display: block;
    margin: auto;
         
}

.menu{
    text-align: center;
    background-color: #0d1b2a;
    padding: 30px;
    margin-top: 0px;
    padding-top: 0px;
    
}

.button{
    color: #e0e1dd;
    background-color: #415a77;
    padding: 7px;
    border-radius: 7px;
    margin-left: 15px;
    margin-top: 10px;
}

.button:hover{
    background-color: #778da9;
    color:#fff;
    
    
}
.button:active{
    background-color: #e0e1dd;
    color:#0d1b2a;
    
}

.welcome{
    background-color:#0d1b2a;
    padding: 2%;
    margin-top: 0px;
}

.welcome-text{
    color:#fff;
    font-size: 18px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #58a6ff;
    font-weight: 400;
    font-weight: 700;
}
#issue:hover{
    text-decoration:underline;
    color: coral;
   
}

.logo {
    width: 25px;
    border-radius: 30px;
    padding: 2px;
    background-color: #fff;
}
.logo:hover{
    background-color: #415a77;
}

.social{
    float: right;
    margin-right: 30px;
    margin-top: 10px;    
}

.icon{
    width: 25px;
    border-radius: 30px;
}
h4{
    font-size: 20px;
}

 h4, li {

    /* color:#8ea8c3 ; */
    color:#23395B;
 }
 
 .texts{
    margin-left: 20px;
    max-width: 95%;
 }
 .return-button{
     text-align: center;

 }
 .signature{
    font-size: 15px;
    color: #9798a5;
    text-align: right;
    
 }
 